* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.canvas {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    background: url('./img/road.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.road_line {
    position: absolute; 
    z-index: 11; 
    width: 5px; 
    height: 10%; 
    background-color: white;
}

.car {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 100px;
    background: url('./img/car.png');
    background-repeat: no-repeat;
    background-size: 50px 100px;
    z-index: 22;
    left: 0;
}

.enemy {
    position: absolute;
    display: flex;
    top: 0;
    width: 80px;
    height: 70px;
    background: url('./img/zombieEnemy.gif');
    background-repeat: no-repeat;
    background-size: 80px 70px;
    z-index: 33;
}

.bullet {
position: absolute;
width: 20px;
height: 20px;
background: url('./img/lasetBullet.png');
background-repeat: no-repeat;
background-size: 20px 20px;
}

.health {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 200px;
    height: 20px;
    background-color: red;
    border-bottom-right-radius: 30px;
}